.point {
	position: relative;
	&__main-content {
		margin-left: 17px;
		hr {
			color: rgba(217,217,217,1);
			background-color: rgba(217,217,217,1);
			border: 0;
			height: 1px;
		}
	}
	&__link {
		text-decoration: none;
		color: black;
	}
	&__discount {
    background-color: red;
    color: white;
    height: 28px;
    line-height: 28px;
    min-width: 64px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    font-weight: 600;
    font-size: 18px;
		&:before {
			content: '';
			position: absolute;
			border: 15px solid transparent;
			border-left: 10px solid white;
			left: -1px;
		}
	}
}

