.card-header {
  margin: 20px auto 40px;
  background-image: url("../../assets/img/ambercard@1x.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 29%;
  width: 90%;
  box-shadow: 7px 8px 21px 4px #d7d5d7; }
