@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.gallery-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000; }

.gallery_image {
  width: 100%; }
