@import 'src/index.scss';

.filter-screen {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	&__header {
		margin-bottom: 10px;
		width: 84%;
    margin: 0 auto;
		padding-top: 10px;
		text-align: center;
		font-size: 16px;
		color: $h3-color;
		font-weight: 600;
	}
}

.close-btn {
	background: url('../../../../assets/img/icClose/icClose@3x.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 2%;
	left: 5%;
	width: 24px;
	height: 24px;
}

.category-list {
	width: 90%;
	padding-top: 25px;
	margin: 0 auto;
	&__item {
		display: block;
	}
}

.category-item {
	display: flex;
	margin-bottom: 20px;
	width: 90%;
	&__icon {
		width: 30px;
		height: 30px;
		margin-right: 15px;
		img {
			width: 100%;
		}
	}
}

.active {
	color: #f33d41;
	&:after {
		content: "";
		display: block;
		background-image: url('../../../../assets/img/icCheck/icCheck@3x.png');
		height: 24px;
    width: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
	}
}

// Анимания окна с фильтром
.filterwindow-enter {
	opacity: 0.01;
}

.ffilterwindow-enter.filterwindow-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.filterwindow-appear {
	opacity: 0.01;
}

.filterwindow-appear.filterwindow-appear-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}

.filterwindow-leave {
	opacity: 1;
}

.filterwindow-leave.filterwindow-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}