@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Yeseva+One");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #64686a; }

h3 {
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  color: #383d41; }

.filter-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #fff;
  display: flex;
  flex-direction: column; }
  .filter-screen__header {
    margin-bottom: 10px;
    width: 84%;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #383d41;
    font-weight: 600; }

.close-btn {
  background: url("../../../../assets/img/icClose/icClose@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 2%;
  left: 5%;
  width: 24px;
  height: 24px; }

.category-list {
  width: 90%;
  padding-top: 25px;
  margin: 0 auto; }
  .category-list__item {
    display: block; }

.category-item {
  display: flex;
  margin-bottom: 20px;
  width: 90%; }
  .category-item__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px; }
    .category-item__icon img {
      width: 100%; }

.active {
  color: #f33d41; }
  .active:after {
    content: "";
    display: block;
    background-image: url("../../../../assets/img/icCheck/icCheck@3x.png");
    height: 24px;
    width: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto; }

.filterwindow-enter {
  opacity: 0.01; }

.ffilterwindow-enter.filterwindow-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.filterwindow-appear {
  opacity: 0.01; }

.filterwindow-appear.filterwindow-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in; }

.filterwindow-leave {
  opacity: 1; }

.filterwindow-leave.filterwindow-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }
