.point {
  position: relative; }
  .point__main-content {
    margin-left: 17px; }
    .point__main-content hr {
      color: #d9d9d9;
      background-color: #d9d9d9;
      border: 0;
      height: 1px; }
  .point__link {
    text-decoration: none;
    color: black; }
  .point__discount {
    background-color: red;
    color: white;
    height: 25px;
    line-height: 25px;
    min-width: 50px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0; }
    .point__discount:before {
      content: '';
      position: absolute;
      border: 12px solid transparent;
      border-left: 10px solid white;
      left: 0; }
