@import 'src/index.scss';

.btn-favourite {
	width: 190px;
	border-radius: 2px;
	outline: none;
	padding: 5px;
	background-color:#f33d41;
	border: none;
	margin-top: 10px;
	font-family: $main-content-text;
	div {
		padding: 3px 12px;
		color: #fff;
	}
}

.favouritebtn-appear {
	opacity: 0.01;
}

.favouritebtn-appear.favouritebtn-appear-active {
  opacity: 1;
  transition: opacity 400ms linear;
}

.favouritebtn-leave {
	opacity: 1;
}

.favouritebtn-leave.favouritebtn-leave-active {
  opacity: 0.01;
	transition: opacity 400ms linear; 
}